.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
background-color: white;
border-style: ridge;
border-color: rgb(34, 167, 224);
border-width: 10px;   
}

